/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Numans');
.card {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.308) !important;
}

.card-header h3 {
  color: white;
}

.input-group-prepend span {
  width: 50px;
  background-color: #2c0f7e;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: rgb(255, 255, 255);
  background-color: #2c0f7e;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}
