<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && getFormControls.email.errors }"
              placeholder="Email address"
            />
            <div *ngIf="submitted && getFormControls.email.errors" class="invalid-feedback">
              <div *ngIf="getFormControls.email.errors.required">Email is required</div>
              <div *ngIf="getFormControls.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && getFormControls.password.errors }"
              placeholder="Password"
            />
            <div *ngIf="submitted && getFormControls.password.errors" class="invalid-feedback">
              <div *ngIf="getFormControls.password.errors.required">Password is required</div>
              <div *ngIf="getFormControls.password.errors.minlength">Password must be at least 8 characters</div>
              <div *ngIf="getFormControls.password.errors.forbiddenName">
                Password must contain at least 1 capital letter
              </div>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" value="Login" class="btn float-right login_btn" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
