/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Numans');

html,
body {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
}

.container {
  height: 70%;
  align-content: center;
}
